#include "defs.dtsi"
#include "undef_rows.dtsi"

#define LEFT_TOP    &kp F1  &kp F2     &kp F3     &kp F4     &kp F5    &kp F6 &tog 1
#define LEFT_UPPER  &trans  &kixie     &kp UNDER  &kp CARET  &kp PIPE  &kp HASH  &none
#define LEFT_MIDDLE &trans  &kp DOLLAR &kp MINUS  &kp PLUS   &kp STAR  &kp AMPERSAND  &none                      &trans  &trans
#define LEFT_LOWER  &trans  &trans     &kp HASH   &kp TAB    &kp TILDE &trans                                    &trans
#define LEFT_BOTTOM &trans  &trans     &trans     &trans     &trans                                              &trans  &trans  &trans

#define RIGHT_TOP                                     &mo 3   &kp F7        &kp F8            &kp F9         &kp F10          &kp F11       &kp F12
#define RIGHT_UPPER                                   &none   &trans        &trans            &kp FSLH       &kp EXCLAMATION  &kp AT        &trans
#define RIGHT_MIDDLE &trans &trans                    &none   &kp PERCENT   &kp COLON         &kp BACKSLASH  &kp EQUAL        &kp QUESTION  &trans
#define RIGHT_LOWER  &trans                           &trans  &kp LESS_THAN &kp GREATER_THAN  &kp GRAVE  &trans  &trans
#define RIGHT_BOTTOM &trans &trans &trans             &trans  &trans        &trans            &trans     &trans

#define layer1 \
        LEFT_TOP     RIGHT_TOP \
        LEFT_UPPER   RIGHT_UPPER \
        LEFT_MIDDLE  RIGHT_MIDDLE \
        LEFT_LOWER   RIGHT_LOWER \
        LEFT_BOTTOM  RIGHT_BOTTOM
